@model SistemaGCS.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sistema de Gestion de la Configuracion de Software">
    <meta name="keywords" content="GCS">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />

    <title>Acceso | GCS</title>

    <link href="~/Source/css/app.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Agregamos la librería de Bootstrap Icons para el icono del ojo -->
    <script src="https://kit.fontawesome.com/3a40882597.js" crossorigin="anonymous"></script>
</head>

<body>
    <main class="d-flex w-100">
        <div class="container d-flex flex-column">
            <div class="row vh-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <div class="text-center">
                                        <img src="~/Source/img/logo-login2.png" width="40%" height="auto" />
                                    </div>
                                    @using (Html.BeginForm())
                                    {
                                        <form>
                                            <div class="mb-3">
                                                <label class="form-label">Correo electrónico</label>
                                                <input class="form-control form-control-lg" type="email" name="Correo" placeholder="Introduce tu correo electrónico" />
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Contraseña</label>
                                                <div class="input-group">
                                                    <input id="passwordInput" class="form-control form-control-lg" type="password" name="Password" placeholder="Ingresa tu contraseña" />
                                                    <!-- Se utiliza "bi-eye-fill" y "bi-eye-slash-fill" para el icono del ojo -->
                                                    <span class="input-group-text" id="togglePassword" onclick="togglePasswordVisibility()">
                                                        <i id="eyeIcon" class="fa-solid fa-eye"></i>
                                                        
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div><br /></div>
                                                <div>
                                                    <label class="form-check-label">@TempData["mensaje"]</label>
                                                </div>
                                            </div>
                                            <div class="text-center mt-3">
                                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-login"></i> Iniciar Sesion </button>
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="~/Source/js/app.js"></script>
    <script>
        // Función para mostrar u ocultar la contraseña
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('passwordInput');
            const eyeIcon = document.getElementById('eyeIcon');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('bi-eye-fill');
                eyeIcon.classList.add('bi-eye-slash-fill');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('bi-eye-slash-fill');
                eyeIcon.classList.add('bi-eye-fill');
            }
        }
    </script>
</body>

</html>
