@model List<SistemaGCS.Models.Proyecto>
@{
    ViewBag.Title = "Index";

}



<br />

<header class="bg-info text-white text-center py-5">
    <h1 style="color: #F7F7FC">Bienvenido al Sistema</h1>
    <img src="~/Source/img/avatars/imgbienv2.png" alt="Imagen de bienvenida" width="300" height="auto">

</header>

<div class="row mt-5">
    <!-- Card para Proyectos Nuevos -->
    <div class="col-md-4">
        <div class="card bg-primary text-white">
            <div class="card-body d-flex align-items-center">
                <i class="fas fa-clipboard-list fa-3x mr-4"></i>
                <div style="padding-left: 15px; font-weight: bold">
                    <p class="card-title text-white">Proyectos Nuevos</p>
                    <p class="card-text">Cantidad: @ViewBag.ProyectosNuevos</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card para Proyectos en Progreso -->
    <div class="col-md-4">
        <div class="card bg-warning text-white">
            <div class="card-body d-flex align-items-center">
                <i class="fas fa-hourglass-half fa-3x mr-4"></i>
                <div style="padding-left: 15px; font-weight: bold">
                    <p class="card-title text-white">Proyectos en Progreso</p>
                    <p class="card-text">Cantidad: @ViewBag.ProyectosEnProgreso</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card para Proyectos Terminados -->
    <div class="col-md-4">
        <div class="card bg-success text-white">
            <div class="card-body d-flex align-items-center">
                <i class="fas fa-check-circle fa-3x mr-4"></i>
                <div style="padding-left: 15px; font-weight: bold">
                    <p class="card-title text-white">Proyectos Terminados</p>
                    <p class="card-text">Cantidad: @ViewBag.ProyectosTerminados</p>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2>Descripción del Sistema</h2>
                <p>
                    El Sistema de Gestión de Configuración de Software (SGCS) es una poderosa plataforma diseñada para facilitar la gestión eficiente y controlada de la configuración de software en cualquier entorno de desarrollo. Este sistema proporciona a los equipos de desarrollo y a las organizaciones las herramientas necesarias para administrar, rastrear y mantener registros de todos los componentes y cambios relacionados con el software, garantizando la integridad y calidad del producto final.
                </p>
            </div>

        </div>
    </div>*@
