@model List<SistemaGCS.Models.Proyecto>
@{
    ViewBag.Title = "Index";
}

<br />
<h2>Informe de Estado</h2>
<div class="page-header">
    <a href="~/Proyecto/Estado" class="btn btn-info float-right">Nuevo Informe</a>
</div>
<br />
<br />

@using (Html.BeginForm("Index", "Proyecto", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
{
    <div class="card">
        <div class="card-header bg-primary text-white">Informacion del Estado</div>
        <div class="card-body">
            <div class="form-group">
                <label for="Estado">No. de solicitud:</label>
                <br />
                <input id="Estado" name="Estado" type="text" class="form-control" value="" />
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label for="FechaInicio">Fecha Inicio:</label>
                        <input type="date" id="FechaInicio" name="FechaInicio" class="form-control" value="2022-12-04" min="2022-01-01" max="2022-12-31">
                    </div>
                    <div class="col-md-6">
                        <label for="Fechafin">Fecha Final:</label>
                        <input type="date" id="Fechafin" name="Fechafin" class="form-control" value="2022-12-04" min="2022-01-01" max="2022-12-31">
                    </div>
                </div>
                <br />
                <label for="pro">Proyecto / Producto:</label>
                <br />
                <select name="pro" id="pro" class="form-control">
                    <option value="22">SISTEMA DE RESTAURANTE</option>
                    <option value="33">SISTEMA DE ASISTENCIA</option>
                    <option value="44">SISTEMA DE VENTAS</option>
                    <option value="55">Sistema de Gestión de Configuración de Software</option>
                </select>
                <br />
                <label for="NombreDocumento">Nombre del Documento:</label>
                <br />
                <input id="NombreDocumento" name="NombreDocumento" type="text" class="form-control" value="" />
                <br />
                <label for="comentarios">Descripción:</label>
                <br />
                <textarea name="comentarios" id="comentarios" rows="5" class="form-control">Escribe aquí la descripción</textarea>
                <br />
                <label for="ElementoConfiguracion">Elemento de Configuración del software afectado:</label>
                <br />
                <input id="ElementoConfiguracion" name="ElementoConfiguracion" type="text" class="form-control" value="" />
                <br />
                <label for="Estado">Estado:</label>
                <br />
                <input id="Estado" name="Estado" type="text" class="form-control" value="" />
                <br />
                <label for="Responsable">Responsable:</label>
                <br />
                <input id="Responsable" name="Responsable" type="text" class="form-control" value="" />
                <br />
                <label for="Porcentaje">Porcentaje:</label>
                <br />
                <div class="input-group">
                    <input id="Porcentaje" name="Porcentaje" type="text" class="form-control" value="" />
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
                <br />
                <label>Estado de implementación de los cambios aprobados:</label>
                <br />
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="EstadoCambios" id="Aprobado" value="Aprobado" checked>
                    <label class="form-check-label" for="Aprobado">Aprobado</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="EstadoCambios" id="Desaprobado" value="Desaprobado">
                    <label class="form-check-label" for="Desaprobado">Desaprobado</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="EstadoCambios" id="EnProceso" value="EnProceso">
                    <label class="form-check-label" for="EnProceso">En proceso</label>
                </div>
                <br />
                <label for="ImpactoSistema">Impacto del Sistema:</label>
                <br />
                <textarea name="ImpactoSistema" id="ImpactoSistema" rows="5" class="form-control">Escribe aquí el impacto del sistema...</textarea>
                <br />
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="~/Usuario" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
}
